.blob {
  border-radius: 40% 90% 40% 90% / 40% 90% 40% 90%;
}

/* Slideshow */
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  color: white;
  font-size: 120px;
  background: none;
  text-align: center;
}

.react-slideshow-container button.default-nav svg {
  fill: rgb(73, 73, 73);
}
