/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "zergei";
  src: url("../public/fonts/zergei-eye-fs.ttf");
}

@font-face {
  font-family: "simply";
  src: url("../public/fonts/SimplySans-Book.ttf");
}
